services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - blue
      - green

  blue:
    image: litzi123/vobe:v1
    expose:
      - "80"

  green:
    image: litzi123/vobe:v2
    expose:
      - "80"