services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - blue
      - green

  blue:
    image: ${IMAGE_NAME}:${BLUE_VERSION}
    expose:
      - "8080"

  green:
    image: ${IMAGE_NAME}:${GREEN_VERSION}
    expose:
      - "8080"