name: CI/CD Blue-Green

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # =======================
      # BUILD BLUE (v1)
      # =======================
      - name: Build & Push BLUE
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            VERSION=BLUE
          tags: |
            ${{ secrets.IMAGE_NAME }}:v1

      # =======================
      # BUILD GREEN (v2)
      # =======================
      - name: Build & Push GREEN
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            VERSION=GREEN
          tags: |
            ${{ secrets.IMAGE_NAME }}:v2

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DO_HOST }}
          username: ${{ secrets.DO_USER }}
          key: ${{ secrets.DO_SSH_KEY }}
          script: |
            cd /home/litzi/Blue-Green
            docker compose pull
            docker compose up -d
            echo "Deploy completo!"
